/*  ----------------------------------------------------------------
    CSS für die Website Ingo Ruddat
    ----------------------------------------------------------------
*/

#accent-background {
    padding: 60px 0;
    background-color: #28a745;
    color: white;
}

#accent-background .btn-outline-light {
    transition: all 0.3s ease-in-out;
}

#accent-background .btn-outline-light:hover {
    background-color: white;
    color: #28a745;
}

#hero h1,
#hero h2,
#hero h3,
#hero h4,
#hero h5,
#hero h6,
#stack h1,
#stack h2,
#stack h3,
#stack h4,
#stack h5,
#stack h6,
#contact h1,
#contact h2,
#contact h3,
#contact h4,
#contact h5,
#contact h6 {
    color: inherit;
}

#hero a,
#stack a,
#contact a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 991.98px) {
    #kontakt .d-flex {
        flex-direction: column;
        align-items: center;
    }

    #kontakt a {
        margin-top: 15px;
    }
}
